{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_aside_summary %}
    {{ parent() }}

    {% set afterPayData = page.extensions[constant('Colo\\AfterPay\\Subscribers\\CheckoutSubscriber::AFTERPAY_DATA_EXTENSION_ID')] %}
    {% set isAfterPayPaymentMethodInstallment = context.paymentMethod.formattedHandlerIdentifier is same as('handler_colo_installmentpayment') %}
    {% block page_checkout_summary_installment_interest %}
        {% if isAfterPayPaymentMethodInstallment and afterPayData.selectedInstallment %}
            <div class="checkout-aside-afterpay-total-installment-amount">
                <dl class="row checkout-aside-summary-list">
                    {% block page_checkout_summary_installment_interest_label %}
                        <dt class="col-9 checkout-aside-summary-label">
                            {{ "afterpay.checkout.confirmInstallmentTotalInterestAmount"|trans|raw }}
                        </dt>
                    {% endblock %}

                    {% block page_checkout_summary_installment_interest_value %}
                        <dd class="col-3 checkout-aside-summary-value">
                            <b>{{ afterPayData.selectedInstallment.totalInterestAmount|currency }}</b>
                        </dd>
                    {% endblock %}
                </dl>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}