{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_tos_control %}
    {{ parent() }}

    {% set afterPayData = page.extensions[constant('Colo\\AfterPay\\Checkout\\CheckoutSubscriber::AFTERPAY_DATA_EXTENSION_ID')] %}

    {% if afterPayData.afterPayActive and afterPayData.merchantId and afterPayData.tosCheckbox %}
        <div class="custom-control custom-checkbox">
            {% block page_checkout_confirm_afterpay_tos_control_checkbox %}
                <input type="checkbox"
                       class="custom-control-input{% if formViolations.getViolations('/afterpay_tos') is not empty %} is-invalid{% endif %}"
                       required="required"
                       id="afterpay_tos"
                       form="confirmOrderForm"
                       name="afterpay_tos"/>
            {% endblock %}

            {% block page_checkout_confirm_afterpay_tos_control_label %}
                <label for="afterpay_tos"
                       class="custom-control-label">
                    {{ "afterpay.checkout.confirmAfterPayTerms"|trans({
                        '%coloAfterpayMerchantPaymentMethod%': afterPayData.merchantPaymentMethod,
                        '%coloAfterpayLanguageCode%': afterPayData.languageCode,
                        '%coloAfterpayMerchantID%': afterPayData.merchantId
                    })|raw }}
                </label>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}