{% sw_extends "@Storefront/storefront/page/checkout/confirm/meta.html.twig" %}

{% block layout_head_javascript_tracking %}
    {{ parent() }}
    <div class="afterpay--profile-tracking"></div>
{% endblock %}