<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="single-select">
            <name>mode</name>
            <required>true</required>
            <copyable>false</copyable>
            <label>Mode</label>
            <label lang="de-DE">Modus</label>
            <options>
                <option>
                    <id>public_sandbox</id>
                    <name>Public Sandbox</name>
                    <name lang="de-DE">Public Sandbox</name>
                </option>
                <option>
                    <id>partner_test</id>
                    <name>Partner Test</name>
                    <name lang="de-DE">Partner Test</name>
                </option>
                <option>
                    <id>prod</id>
                    <name>Production</name>
                    <name lang="de-DE">Produktion</name>
                </option>
            </options>
            <defaultValue>public_sandbox</defaultValue>
        </input-field>

<!--        <input-field type="checkbox">-->
<!--            <name>showTosCheckbox</name>-->
<!--            <label>Show TOS-Check</label>-->
<!--            <label lang="de-DE">AGB-Check anzeigen</label>-->
<!--            <defaultValue>true</defaultValue>-->
<!--        </input-field>-->

        <input-field type="single-select">
            <name>profileTrackingSetup</name>
            <required>true</required>
            <copyable>false</copyable>
            <label>Profile Tracking Setup</label>
            <label lang="de-DE">Profile Tracking Einrichtung</label>
            <options>
                <option>
                    <id>mandatory</id>
                    <name>Enabled - mandatory</name>
                    <name lang="de-DE">Enabled - mandatory</name>
                </option>
                <option>
                    <id>optional</id>
                    <name>Enabled - optional</name>
                    <name lang="de-DE">Enabled - optional</name>
                </option>
                <option>
                    <id>disabled</id>
                    <name>Disabled</name>
                    <name lang="de-DE">Deaktiviert</name>
                </option>
            </options>
            <defaultValue>disabled</defaultValue>
            <helpText>To enable Profile Tracking please request your Profile Tracking ID from AfterPay.</helpText>
            <helpText lang="de-DE">Bitte kontaktieren Sie Afterpay um eine Profile Tracking-ID zu beantragen.</helpText>
        </input-field>

        <input-field type="text">
            <name>trackingId</name>
            <label>Tracking Id</label>
            <label lang="de-DE">Tracking ID</label>
            <helpText>Please make sure to enter Tracking ID in order to activate Profile Tracking Services.</helpText>
            <helpText lang="de-DE">Bitte geben Sie eine Profile Tracking-ID ein, um die Funktion zu aktivieren.</helpText>
        </input-field>

        <input-field type="single-select">
            <name>logType</name>
            <required>true</required>
            <copyable>false</copyable>
            <label>Log</label>
            <label lang="de-DE">Log</label>
            <options>
                <option>
                    <id>all</id>
                    <name>All</name>
                    <name lang="de-DE">Alles</name>
                </option>
                <option>
                    <id>fail</id>
                    <name>Failure</name>
                    <name lang="de-DE">Fehler</name>
                </option>
                <option>
                    <id>none</id>
                    <name>None</name>
                    <name lang="de-DE">Nichts</name>
                </option>
            </options>
            <defaultValue>all</defaultValue>
        </input-field>

        <component name="sw-switch-field">
            <name>autoCapture</name>
            <bordered>bordered</bordered>
            <label>Autocapture</label>
            <label lang="de-DE">Automatisches Capture</label>
            <defaultValue>true</defaultValue>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>captureOrderStates</name>
            <copyable>false</copyable>
            <required>true</required>
            <entity>state_machine_state</entity>
            <stateMachine>order</stateMachine>
            <label>Capture order statuses</label>
            <label lang="de-DE">Capture order statuses</label>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>capturePaymentStates</name>
            <copyable>false</copyable>
            <required>true</required>
            <entity>state_machine_state</entity>
            <stateMachine>order_transaction</stateMachine>
            <label>Capture payment statuses</label>
            <label lang="de-DE">Capture payment statuses</label>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>captureDeliveryStates</name>
            <copyable>false</copyable>
            <required>true</required>
            <entity>state_machine_state</entity>
            <stateMachine>order_delivery</stateMachine>
            <label>Capture delivery statuses</label>
            <label lang="de-DE">Capture delivery statuses</label>
        </component>
    </card>

    <card>
        <title>API Settings (DE)</title>
        <title lang="de-DE">API-Einstellungen (DE)</title>

        <component name="sw-text-field">
            <name>apiKeyDE</name>
            <label>API key</label>
            <label lang="de-DE">API key</label>
        </component>

        <component name="sw-text-field">
            <name>merchantIdDE</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
        </component>

        <component name="sw-switch-field">
            <name>requireBirthdayFieldDE</name>
            <bordered>bordered</bordered>
            <label>Require birthday field</label>
            <label lang="de-DE">Geburtsdatum abfragen</label>
            <helpText>Please talk to our integration team before deactivating this option.</helpText>
            <defaultValue>true</defaultValue>
        </component>
    </card>

    <card>
        <title>API Settings (AT)</title>
        <title lang="de-DE">API-Einstellungen (AT)</title>

        <component name="sw-text-field">
            <name>apiKeyAT</name>
            <label>API key</label>
            <label lang="de-DE">API key</label>
        </component>

        <component name="sw-text-field">
            <name>merchantIdAT</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
        </component>

        <component name="sw-switch-field">
            <name>requireBirthdayFieldAT</name>
            <bordered>bordered</bordered>
            <label>Require birthday field</label>
            <label lang="de-DE">Geburtsdatum abfragen</label>
            <helpText>Please talk to our integration team before deactivating this option.</helpText>
            <defaultValue>true</defaultValue>
        </component>
    </card>

    <card>
        <title>API Settings (BE)</title>
        <title lang="de-DE">API-Einstellungen (BE)</title>

        <component name="sw-text-field">
            <name>apiKeyBE</name>
            <label>API key</label>
            <label lang="de-DE">API key</label>
        </component>

        <component name="sw-text-field">
            <name>merchantIdBE</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
        </component>

        <component name="sw-switch-field">
            <name>requireBirthdayFieldBE</name>
            <bordered>bordered</bordered>
            <label>Require birthday field</label>
            <label lang="de-DE">Geburtsdatum abfragen</label>
            <helpText>Please talk to our integration team before deactivating this option.</helpText>
            <defaultValue>true</defaultValue>
        </component>
    </card>

    <card>
        <title>API Settings (NL)</title>
        <title lang="de-DE">API-Einstellungen (NL)</title>

        <component name="sw-text-field">
            <name>apiKeyNL</name>
            <label>API key</label>
            <label lang="de-DE">API key</label>
        </component>

        <component name="sw-text-field">
            <name>merchantIdNL</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
        </component>

        <component name="sw-switch-field">
            <name>requireBirthdayFieldNL</name>
            <bordered>bordered</bordered>
            <label>Require birthday field</label>
            <label lang="de-DE">Geburtsdatum abfragen</label>
            <helpText>Please talk to our integration team before deactivating this option.</helpText>
            <defaultValue>true</defaultValue>
        </component>
    </card>
</config>