{% block component_afterpay_payment_method_invoice %}
    {% if showPhoneNumber or showBirthday %}
        <div class="payment-method-invoice-fields" data-afterpay-payment-form="true" data-save-url="{{ path('frontend.afterpay.save-payment-details') }}">
            <input type="hidden" name="required_fields" value="{% if showPhoneNumber %}phoneNumber,{% endif %}{% if showBirthday %}birthdayDay,birthdayMonth,birthdayYear{% endif %}" />
            {% if showBirthday %}
                {% sw_include '@Storefront/storefront/component/afterpay/payment/fields/birthday.html.twig' %}
            {% endif %}

            {% if showPhoneNumber %}
                {% sw_include '@Storefront/storefront/component/afterpay/payment/fields/phone.html.twig' %}
            {% endif %}

            <div class="form-row">
                <span>{{ ('afterpay.checkout.paymentFields.directdebit.requiredInfo')|trans }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}