{% block component_afterpay_payment_method_fields_installments %}
    <div class="installments-container" data-installments="true" data-get-url="{{ path('frontend.afterpay.get-installments') }}"></div>
{% endblock %}